# conan
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json
SConscript_conan
*.cmake
CMakeUserPresets.json
CMakeCache.txt

# scons
*/.sconsign.dblite
build
test_package/build

# coverage
coverage

# python
*.pyc
*.pdb